@defer (when isUserLoaded ) {

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav [mode]="sidenavMode" [opened]="isScreenLarge">
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <div>
      <app-toolbar [sidenav]="sidenav"></app-toolbar>

      <mat-card
        class="text-center"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
        <app-doctor-listavailability></app-doctor-listavailability>
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

} @placeholder {
<app-loading></app-loading>
}
