mat-list-item {
  transition: background 0.3s ease;
  cursor: pointer;
  width: 100%;
  padding: 12px;
  min-height: 80px; /* Aumentar la altura de cada ítem */
  
}

mat-list-item:hover {
  background: #f5f5f5;
}

.secondary-text {
  font-size: 15px;
  color: gray;
}

.name {
  font-weight: bold;
}

.pendiente {
  border: 1px;
  margin: 33px;
  font-size: small;
  border-radius: 8px;
  width: 175px;
  text-align: center;
  background: #e53333;
}
.attend { 
  border: 1px;
  margin-right: 120px;
  margin-left: 33px;
  font-size: small;
  border-radius: 8px;
  width: 175px;
  text-align: center;
  background: #0fba25;
}

.mat-list-container {
  max-width: 100%;
  margin: 30px; /* Centra la lista */
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.list-content {
  display: flex;
  align-items: center; /* Alinear verticalmente */
  justify-content: space-between; /* Distribuir en horizontal */
  width: 100%;
 
}

.list-content2 {
  display: flex;
  align-items: center; /* Alinear verticalmente */
  justify-content: flex-start; /* Distribuir en horizontal */
  width: 100%;
  gap: 10px;
 flex-wrap: wrap;
 
}


.text-content {
  flex-grow: 1; /* Ocupa el espacio disponible */
  padding-left: 10px; /* Separación entre icono y texto */
 
}

@media (max-width: 850px) {
mat-list-item {  
  min-height: 280px; /* Aumentar la altura de cada ítem */
}
}

@media (max-width: 480px) {
mat-list-item {  
  min-height: 280px; /* Aumentar la altura de cada ítem */
}

.list-content {
 flex-wrap: wrap; 
}

.pendiente {  
  margin: 1px; 
  width: 75px;  
}
.attend { 
  margin: 10px;  
  width: 75px;  
}

}
