mat-list-item {
  transition: background 0.3s ease;
  cursor: pointer;
  width: 100%;
  padding: 12px;
  min-height: 80px; /* Aumentar la altura de cada ítem */
}

mat-list-item:hover {
  background: #f5f5f5;
}

.secondary-text {
  font-size: 15px;
  color: gray;
}

.name {
  font-weight: bold;
}

.mat-list-container {
  max-width: 100%;
  margin: 30px; /* Centra la lista */
  background: #fff;
  border-radius: 8px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

.list-content {
  display: flex;
  align-items: center; /* Alinear verticalmente */
  justify-content: space-between; /* Distribuir en horizontal */
  width: 100%;
}

.text-content {
  flex-grow: 1; /* Ocupa el espacio disponible */
  padding-left: 10px; /* Separación entre icono y texto */
}
