<h2 mat-dialog-title>Especialidad</h2>
<form [formGroup]="specialtyForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    <div class="form-grid">
      <div class="form-item">
        <mat-form-field appearance="fill">
          <mat-label>Nombre</mat-label>
          <input matInput formControlName="name" required />
        </mat-form-field>
      </div>

      <div class="form-item full-width"></div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit">Enviar</button>
    <button mat-button mat-dialog-close>Close</button>
  </mat-dialog-actions>
</form>
