.sidenav-container {
  height: 100vh;
}

mat-sidenav {
  width: 250px;
}

mat-sidenav-content {
  padding: 1px;
}


button {
  align-self: flex-end;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #1976d2;
  color: #fff;
}

.text-center {
  margin: 10px;
  padding: 30px;
}

mat-card {
  padding: 5px;
}
