<div class="mat-list-container">
  <mat-list role="list">
    <mat-list-item *ngFor="let cliente of clientesconcitas; let i = index">
      <div class="list-content">
        <div class="list-content2">
          <!-- Avatar/Icono -->
          <mat-icon matListAvatar>person</mat-icon>

          <!-- Información -->
          <div class="text-content">
            <div matLine class="name">Paciente</div>
            <div matLine class="secondary-text">
              {{ cliente.patients.name }}
            </div>
            <div matLine class="secondary-text">
              {{ cliente.patients.surname }}
            </div>
          </div>

          <!-- Información -->
          <div class="text-content">
            <div matLine class="name">Fecha de cita</div>
            <div matLine class="secondary-text">
              {{ cliente.availabilities.date_availabilities }}
            </div>
            <div matLine class="secondary-text">
              {{ cliente.availabilities.start_hour }}
            </div>
          </div>
        </div>

        <!-- Botón de acción -->
        <button mat-icon-button color="primary">
          <mat-icon>info</mat-icon>
        </button>
        <div matLine class="{{ cliente.status }}">{{ cliente.status }}</div>
        <button
          mat-stroked-button
          color="primary"
          (click)="onattend(cliente.id)"
        >
          Atender
        </button>
      </div>

      <!-- Separador, pero no en el último elemento -->
      <mat-divider *ngIf="i < clientesconcitas.length - 1"></mat-divider>
    </mat-list-item>
  </mat-list>
</div>
