<div>
  <h2>Medicos</h2>

  <mat-label>Fitrar</mat-label>
  <input matInput placeholder="Buscar" (keyup)="applyFilter($event)" />

  <div style="overflow-x: auto">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
      <ng-container matColumnDef="nombre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</th>
        <td mat-cell *matCellDef="let doctor">{{ doctor.name }}</td>
      </ng-container>

      <ng-container matColumnDef="apellido">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Email</th>
        <td mat-cell *matCellDef="let doctor">{{ doctor.surname }}</td>
      </ng-container>

      <ng-container matColumnDef="dni">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Teléfon</th>
        <td mat-cell *matCellDef="let doctor">{{ doctor.dni }}</td>
      </ng-container>

      <ng-container matColumnDef="accion">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Acciones</th>

        <td mat-cell *matCellDef="let doctor">
          <div class="Bottons">
            <button
              class="miBotton"
              color="primary"
              (click)="actualizarRegistro(doctor.id, 'Actualizar')"
            >
              Actualizar
            </button>
            <button
              class="miBotton"
              color="primary"
              (click)="eliminarRegistro(doctor.id)"
            >
              Eliminar
            </button>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <mat-paginator
    [length]="totalClientes"
    [pageSize]="10"
    [pageSizeOptions]="[5, 10, 20]"
    (page)="pageChange($event)"
  >
  </mat-paginator>
</div>
