.form-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  max-width: 100%;
}

.form-grid-filter {
  display: grid;
  grid-template-columns: 25% 25% 25%;
  grid-gap: 10px;
  max-width: 100%;
}

.form-item mat-form-field {
  width: 100%;
  align-items: center;
  justify-content: center;
}

.form-grid-patients {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 20% 30% 30%;
  grid-gap: 10px;
  max-width: 100%;
  align-items: center;
}

.filter {
  margin-top: 0px;
  height: 55px;
}

@media (max-width: 768px) {
  .form-grid-filter {
    grid-template-columns: 1fr;
  }

  .form-grid-patients {
    grid-template-columns: 1fr;
  }

  .form-grid {
    grid-template-columns: 1fr;
  }
}

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px;
}

.action-buttons {
  padding-bottom: 10px;
}

.headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.headers-align .mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
  margin-bottom: 40px;
}
