<h2 mat-dialog-title>Citas</h2>
<form class="container" [formGroup]="appoinmentForm" (ngSubmit)="onSubmit()">
  <mat-dialog-content>
    @if ( user.role=="paciente") {
    <h2 mat-dialog-title>Paciente</h2>
    <h2 mat-dialog-title>
      {{ user.patients[0].dni }} {{ user.patients[0].name }}
      {{ user.patients[0].surname }}
    </h2>
    } @if ( user.role=="medico" || user.role=="empleado" ) {
    <div class="form-grid-patients">
      <div class="form-item">
        <mat-form-field appearance="outline">
          <mat-label>Paciente</mat-label>
          <input
            matInput
            formControlName="dni"
            required
            (keydown.enter)="onEnterPatient($event)"
          />
        </mat-form-field>
      </div>

      <div class="form-item">
        <mat-form-field appearance="outline">
          <mat-label>Nombres</mat-label>
          <input matInput formControlName="name" required />
        </mat-form-field>
      </div>

      <div class="form-item">
        <mat-form-field appearance="outline">
          <mat-label>Apellidos</mat-label>
          <input matInput formControlName="surname" required />
        </mat-form-field>
      </div>
    </div>

    @if ( user.role=="medico" ){
    <h2 mat-dialog-title>Medico</h2>
    <h2 mat-dialog-title>
      {{ user.doctors[0].name }} {{ user.doctors[0].surname }}
    </h2>
    } }

    <div class="form-grid-filter">
      @if ( user.role=="medico" ){
      <div class="form-item">
        <mat-form-field appearance="outline">
          <mat-label>Fecha de Cita</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="date_appointments"
            (dateChange)="onFechaSeleccionada($event)"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      } @if ( user.role=="paciente" || user.role=="empleado" ) {

      <div class="form-item">
        <mat-form-field appearance="outline">
          <mat-label>Fecha de Cita</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="date_appointments"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="form-item">
        <mat-form-field appearance="outline">
          <mat-label>Especialidad</mat-label>
          <mat-select
            formControlName="especialidad"
            required
            (selectionChange)="onEspecialidadSeleccionada($event)"
          >
            <mat-option
              *ngFor="let especialidad of especialidades"
              [value]="especialidad.id"
            >
              {{ especialidad.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <button
        mat-raised-button
        class="filter"
        color="primary"
        type="button"
        (click)="cargarDisponibilidadMedico()"
      >
        Filtrar
      </button>

      }
    </div>

    @if ( user.role=="paciente" || user.role=="empleado" ) {
    <div class="form-item">
      <mat-form-field appearance="outline">
        <mat-label>Medico</mat-label>
        <mat-select required (selectionChange)="onMedicoSeleccionado($event)">
          <mat-option
            *ngFor="let doctor of doctores"
            [value]="doctor?.availabilities"
          >
            {{ doctor?.doctor?.name }} {{ doctor?.doctor?.surname }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    }

    <div class="form-grid">
      <mat-button-toggle-group
        formControlName="selectedDisponibilidad"
        (change)="onSeleccionarCita($event)"
        appearance="legacy"
      >
        <mat-button-toggle *ngFor="let cita of disponilidades" [value]="cita">
          <div>{{ cita.start_hour }} - {{ cita.end_hour }}</div>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>

    <input type="hidden" formControlName="start_hour" required />
    <input type="hidden" formControlName="doctor_id" required />
    <input type="hidden" formControlName="availabily_id" required />
    <input type="hidden" formControlName="patient_id" required />
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-raised-button color="primary" type="submit">Enviar</button>
    <button mat-raised-button color="primary" mat-dialog-close>Close</button>
  </mat-dialog-actions>
</form>
