@defer (when isUserLoaded ) {

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav [mode]="sidenavMode" [opened]="isScreenLarge">
    <app-sidebar></app-sidebar>
  </mat-sidenav>

  <mat-sidenav-content>
    <!-- Contenido principal de la página -->

    <div>
      <!-- Otros contenidos -->
      <app-toolbar [sidenav]="sidenav"></app-toolbar>
      <button mat-raised-button color="primary" (click)="openDialog()">
        Abrir Formulario
      </button>
      <mat-card
        class="text-center"
        fxLayout="column"
        fxLayoutAlign="center center"
      >
      </mat-card>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

} @placeholder {
<app-loading></app-loading>
}
