.sidenav-container {
  height: 100vh;
}

mat-sidenav {
  width: 250px;
}

mat-sidenav-content {
  padding: 0px;
  justify-content: center;
}

.card {
  max-width: 100%;
  height: 150px;
  justify-content: center;
}

.text-center {
  margin: 30px;
  padding: 30px;
}

.grid-card {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-gap: 10px;
  max-width: 100%;
  padding: 30px;
  align-items: center;
}

@media (max-width: 850px) {
  .grid-card {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    max-width: 100%;
    padding: 30px;
    align-items: center;
  }
}

@media (max-width: 480px) {
  .grid-card {
    display: grid;
    grid-template-columns: auto;
    grid-gap: 10px;
    max-width: 100%;
    padding: 30px;
    align-items: center;
  }
}
